#listing {
    align-content: center;
    text-align: center;
    width: 75%;
    margin-top: 5%;
    margin-left: 12.5%;
    background-color: #7289DA;
    border-radius: 10px;
    padding: 1em;
}

#number-result {
    position: absolute;
    align-content: center;
    text-align: center;
    font-size: xx-large;
}

#list {
    border-style: solid;
}

/*#region navbar#*/
.navbar-light {
    background-color: rgb(86, 103, 165);
    border-bottom: 1px solid #333;
}

.btn-outline-success {
    color: #F0C27D !important;
    border-color: #F0C27D !important;
}

.btn-outline-success:hover {
    color: #FFFFFF !important;
    background-color: #F0C27D !important;
    border-color: #F0C27D !important;
}

nav ul {
    margin-left: 1%;
}

.nav-link {
    color: #FFFFFF !important;
}

.nav-link:hover {
    color: #F0C27D !important;
}

/*#endregion navbar#*/


/*#region slideShow#*/
#indexSlideshow{
  height: 30%;
  width: 80%;
  margin:auto;
  margin-top: 2%;
  
  
}
#indexSlideshowImage{
  min-height: 500px;
  max-height: 500px;
}

#indexSlideshow img{
  
  
  width: 80%;
  height: 50%;
}

#sliderRightArrow ,#sliderLeftArrow{
  cursor: pointer;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


#sliderRightArrow {
  right: 0px;
  border-radius: 3px 0 0 3px;
  
}
#sliderLeftArrow {
  
  margin:auto;
  border-radius: 3px 0 0 3px;

}
/*#endregion#*/

html, body{
    background-color: #333 !important;
    color: #FFFFFF !important;
}

.content {
    align-content: center;
    text-align: center;
    width: 33%;
    margin-top: 5%;
    margin-left: 33%;
    background-color: #7289DA;
    color: #FFFFFF !important;
    border-radius: 10px;
    padding: 1em;
}

.content h1 {
    font-size: 70px;
}

body a {
    color: #FFFFFF;
}

body a:hover {
    color: #F0C27D;
    text-decoration: none;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgb(86, 103, 165);
    border-top: 1px solid #333;
    line-height: 2em;
    padding: 5px;
    text-align: center;
    z-index: 0;
}

#mainpagecontainer {
    width: 80%;
    margin: 10%;
    background-color: #7289DA;
    border-radius: 10px;
    margin-top: 2%;
}

#leftcol {
    padding: 50px;
}

#leftcol img {
    width: 75%;
}

#rightcol img {
    width: 70%;
}

.text-center {
    margin: auto !important;
    font-size: 1.5em;
}

#mapid {
    height: 900px;
    z-index: 2;
}

#mapbody{
    overflow: hidden;
}

#infos {
    margin-top: 1em;
    font-size: 20px;
}