<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>


<link rel="stylesheet" href="./stylesheets/pageEditscss.css">


</head>
<body>
        <%include partials/navbar %>
<div class="content" style="text-align: unset;">
        <div id="mycontent">
                <%- content %>
        </div>
</div>
       

        <% include partials/footer %>
</body>


     
</html>