<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <%include partials/navbar %>

    <div class="content" style="width: 70%; margin: auto; margin-top: 10%;">
        <h1 class="lead">About us : </h1>
        <p id="infos">
            We are students of the DIIAGE in the CUCDB and we are working on a project which consists to show data from
            datatourisme.<br />
            We chose to display museum to clients depending on the research or geolocalization of the user.<br />
            This website has been realized thanks to Visual Studio Code with languages HTML5, CSS3, <a href="https://www.bootstrapcdn.com/">Bootstrap</a>, <a href="https://gulpjs.com/">Gulp JS</a>,
            <a href="https://expressjs.com/fr/">Express JS framework</a> and <a href="https://nodejs.org/en/">Node.js</a>.
        </p>
    </div>

    <% include partials/footer %>
</body>

</html>