<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./stylesheets/offerprestapage.css">
    <link rel="stylesheet" href="./stylesheets/stylelisting.css">
    <% include partials/head %>
</head>

<body>
    <% include partials/navbar %>

    <div class="parallax"></div>

    <div class="card text-center" style="color: #333;">
        <div class="card-header">
            Offres
        </div>
        <div class="card-body">
            <h5 class="card-title">Concernant nos offres</h5>
            <p class="card-text">Découvrez tout ce que nous proposons</p>

            <%include partials/list %>

            <% include partials/footer %>
</body>
<% include partials/script %>

</html>